.main{
    height: 100%;
}
.main__title-container{
    display: flex;
    align-items: baseline;
    margin-bottom: 45px;
    margin-left: 40px;
    color: rgb(44, 22, 215);
    position: relative;
}
.main__title-info{
    color: white;
    margin-left: 11px;
    color: inherit;
}
.main__title-info:hover{
    cursor: pointer;
}
.main__title-info:hover ~ .main__info{
    visibility: visible;
}
.main__info{
    background-color: #555;
    color: white;
    position: relative;
    left: 5px;
    bottom: 25px;
    padding: 2px 10px;
    visibility: hidden;
}
.main__title{
    margin: 0;
    font-size: 40px;
}
